
/* HERO */

.hero {
    background: url(images/jumbotron.jpg);
    background-position: center;
    height: 850px;
    width: 100%;
    margin-top: -45px;
    text-align: center;
}

.hero h1 {
    color: #fff;
    font-size: 54px;
    font-weight: 700;
}

.hero p {
    color: #fff;
    font-size: 15px;
    line-height: 29px;
    text-transform: uppercase;
}
.circle {
    border-radius: 50%;
    height: 69px;
    width: 65px;
    border: 1px #fff solid;
    margin: 100px auto;
}

.hero img {
    margin: 80px auto;
}

/* ABOUT */

.about {
    height: 400px;
    text-align: center;
    margin-top: 146px;
    margin-bottom: 146px;
}

.about h1 {
    color: #3c3c3c;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    bottom: 55px;
    left: 240px;
    background-color: #fff;
    width: 402px;
}

.about p {
    color: #3c3c3c;
    font-size: 16px;
    line-height: 24px;
    margin: 0 150px;
    padding-bottom: 53px;
}


/* SERVICES */

.services {
    background-image: url(images/services.jpg);
    background-position: center;
    height: 488px;
    text-align: center;
    padding-top: 115px;
}

.services h1 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.services p {
    margin-top: 64px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 168px;
    padding-bottom: 56px;
}

/* WHATWEDO */

.what {
    text-align: center;
    margin-top: 105px;
}

.what h1 {
    color: #3c3c3c;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    bottom: 55px;
    left: 240px;
    background-color: #fff;
    width: 402px;
}

.what img {
    margin-top: 111px;
    margin-bottom: 41px;
}

.what h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.what p {
    color: #3c3c3c;
    font-size: 14px;
    line-height: 26px;
    padding: 0 160px;
}

.what p:nth-child(3) {
    padding-bottom: 76px;
}
/* WORKS */
.works {
    margin: 140px 0;
}

.works h1 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 140px;
    margin-left: 5%;
}


.topworkz {
    background-image: url(images/topworks.jpg);
    background-repeat: no-repeat;
    height: 237px;
    margin-right: 0.5%;
    margin-bottom: 5px;
    width: 30%
}

.joint {
    background-image: url(images/join.jpg);
    background-repeat: no-repeat;
    height: 237px;
    margin-right: 0.5%;
    margin-bottom: 5px;
    width: 39%;
}

.market {
    background-image: url(images/market.jpg);
    background-repeat: no-repeat;
    height: 237px;
    margin-bottom: 5px;
    width: 30%;
}

.worktop {
    background-image: url(images/worktop.jpg);
    height: 237px;
    background-repeat: no-repeat;
    margin-right: 0.5%;
    width: 30%;

}

.lable {
    background-image: url(images/lable.jpg);
    height: 237px;
    background-repeat: no-repeat;
    margin-right: 0.5%;
    width: 39%;
}

.kyiv {
    background-image: url(images/kyiv.jpg);
    height: 237px;
    background-repeat: no-repeat;
    width: 30%;
}


/* CONTACT */

.contact {
    text-align: center;
}

.contact h1 {
    color: #3c3c3c;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    bottom: 50px;
    left: 240px;
    background-color: #fff;
    width: 402px;
}

.contact p {
    color: #3c3c3c;
    font-size: 16px;
    line-height: 26px;
    margin: 0 160px;
}

.contact button {
    width: 395px;
    height: 58px;
    border: 2px solid #3c3c3c;
    background-color: #3c3c3c;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 51px;
    margin-top: 42px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #2f2f2f;
    
}

/* FOOTER */

footer p:nth-child(2) {
    margin-top: 77px;
}

footer p {
    color: #3c3c3c;
    font-size: 14px;
    text-align: center;
}

footer img {
    margin: 77px auto;
    float: inherit;
}
